<div class="detail-devices">
	<div class="list-wrapper">
		<div class="list-assigned-items device-list">
			<div class="empty-row{{#if emptyAssigned}} visible{{/if}}">
				{{ i18n.users.noAssignedDevices }}
			</div>
			{{#each assignedDevices}}
				<div class="item-row assigned" data-id="{{this.id}}">
					<div class="device">
						<button type="button" class="monster-button monster-button-danger remove-device">{{ @root.i18n.unassign }}</button>
						<a href="javascript:void(0);" class="edit-device-link monster-link">{{ this.name }}</a>
					</div>
				</div>
			{{else}}

			{{/each}}
		</div>
	</div>

	<div class="actions">
		<a class="spare-devices monster-link pull-left" href="javascript:void(0);"><i class="fa fa-list monster-green"></i>{{ i18n.users.devices.spareDevice }}</a>

		<div class="pull-right">
			<a class="cancel-link monster-link blue" href="javascript:void(0);">{{ i18n.cancel }}</a>
			<button type="button" class="monster-button monster-button-success save-devices">{{ i18n.saveChanges }}</button>
		</div>
	</div>
</div>
