<div id="my_office_caller_id_popup" class="monster-feature-popup-container">
	<div class="content-wrapper">
		<div class="content">
			<div>
				{{ i18n.myOffice.callerId.numberLabel }}
				<select class="caller-id-select">
					<option{{#compare selectedMainNumber "===" "none"}} selected{{/compare}} value="">None</option>
					{{#each mainNumbers}}
						<option{{#compare ../selectedMainNumber "===" this.number}} selected{{/compare}} value="{{this.number}}">{{formatPhoneNumber this.number}}</option>
					{{/each}}
				</select>
			</div>

			{{#monsterText}}
				{{ i18n.myOffice.callerId.numberHelp }}
			{{/monsterText}}
		</div>

		<div class="content number-feature" data-feature="cnam">
			<div>
				{{ i18n.myOffice.callerId.nameLabel }}
				<input type="text" class="caller-id-name">
			</div>

			{{#monsterText}}
				{{ i18n.myOffice.callerId.nameHelp }}
			{{/monsterText}}
		</div>
	</div>

	<div class="actions clearfix">
		<div class="pull-right">
			<a class="cancel-link monster-link blue" href="javascript:void(0);">{{ i18n.cancel }}</a>
			<button type="button" class="monster-button monster-button-success save">{{ i18n.saveChanges }}</button>
		</div>
	</div>
</div>
