<div id="my_office_curbside_popup" class="monster-feature-popup-container">
	<div class="content-wrapper">
		<div class="content number-feature" data-feature="curbside">
			<form id="form_curbside">
				<div>
					{{ i18n.myOffice.curbside.numberLabel }}
					<select name="tn" class="curbside-number-select">
						<option{{#compare tn "===" ""}} selected{{/compare}} value="">None</option>
						{{#each mainNumbers}}
							<option{{#compare ../tn "===" this.number}} selected{{/compare}} value="{{this.number}}">{{formatPhoneNumber this.number}}</option>
						{{/each}}
					</select>
				</div>

                <div class="title">
					{{ i18n.myOffice.curbside.autoResponseLabel }}
				</div>

                <div class="helper">
					<i class="fa fa-info-circle"></i>
					{{ i18n.myOffice.curbside.autoResponseHelp }}
				</div>

				<div>
					<textarea name="init_msg" class="curbside-auto-response" rows="4">{{init_msg}}</textarea>
				</div>

                <div class="title">
					{{ i18n.myOffice.curbside.replies.sectionTitle }}
				</div>

				<div class="helper">
					<i class="fa fa-info-circle"></i>
					{{ i18n.myOffice.curbside.replies.helpLabel }}
				</div>

				<div class="list-entities replies-list">
					<div class="create-entity">
						<div class="entity-wrapper placeholder">
							<div class="create-text">
								<i class="fa fa-plus-circle"></i>
								{{ i18n.myOffice.curbside.replies.createLabel }}
							</div>

							<div class="create-inputs">
								<input type="text" id="entity_name" name="extra.entityName" class="input-medium">
								<button id="add_entity" class="monster-button monster-button-success">{{ i18n.add }}</button>
								<a href="javascript:void(0);" id="cancel_entity">{{ i18n.cancel }}</a>
							</div>
						</div>
					</div>

					<div class="saved-entities">
                        {{#each replies}}
                            <div class="entity-wrapper" data-reply="{{this}}">
                                <span class="entity-title">{{this}}</span>
                                <div class="delete-entity"><i class="fa fa-trash-o monster-red"></i></div>
                            </div>
                        {{/each}}
					</div>
				</div>

                <input type="hidden" name="id" value="{{id}}">
				<input type="hidden" name="accountId" value="{{accountId}}">
			</form>
		</div>
	</div>

	<div class="actions clearfix">
		<div class="pull-right">
			<a class="cancel-link monster-link blue" href="javascript:void(0);">{{ i18n.cancel }}</a>
			<button type="button" class="monster-button monster-button-success save">{{ i18n.saveChanges }}</button>
		</div>
	</div>
</div>
